<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /VerificationCertificat/
   RewriteRule ^index\.html$ - [L]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . /VerificationCertificat/index.html [L]
</IfModule>
